*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/* SECTION BACKGROUND */

#s1{
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.123)10%, rgba(0,0,0,0.123)10%), url(images/final.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

#s2{
    height: 100vh;
    background: #172633;
    box-sizing: border-box;
}

#s3{
    height: 100vh;
    background: #ffffff;
    box-sizing: border-box;
}

#s4{
    height: 100vh;
    background: #0D151C;
    box-sizing: border-box;
}

#s5{
    height: 100vh;
    background: #000000;
    box-sizing: border-box;
}

.container{
    widows: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

/* S1 CONTENT */

.main{

}


.navbar{
    position: fixed;
    left: 36%;
    top: 2%;
}

.menu{
    background-color: #bdbdbd41;
    padding: 5px 20px;
    border-radius: 20px;
    z-index: 4;
    
}





ul{
    display: flex;
    align-items: center;
    justify-content: center;
} 

ul li{
    font-weight: lighter;
    list-style: none;
    margin: 8px;
    font-size: 19px; 
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color: #EDD4B6;
}

.quote{
    position: relative;
    color: #ffffff;
    margin-left: 58%;
    margin-top: 25%;
    text-align: center;
}

.quote h1{
    font-size: 40px;
}

.quote h2{
    margin-top: -2%;
}

.quote a{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.quote a:hover{
    color: #EDD4B6;
}



/* S2 CONTENT */



.konten2{
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s2 img{
    margin: 10px;
    border-radius: 5%;
}

.head2{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.head2 h1{
    position: relative;
    margin-top: 2%;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    font-variant: small-caps;
}

.head2 h2{
    position: relative;
    color: #EDD4B6;
    font-size: medium;
    position: absolute;
    top: 112%;
    font-style: normal;
    font-variant: all-small-caps;
    font-weight: 600;
    font-size: 28px;
}

.logofederi{
    position: absolute;
    width: 88px;
    height: 85px;
    top: 123%;
    left: 46%;
}

.bottom2{
    color: #ffffff;
    font-size: 35px;
    margin-top: 2%;
    display: flex;
    text-align: center;
}

#letter1{
    position: relative;
    margin-left: 15%;
    font-weight: 700;
} 

#letter2{
    position: relative;
    margin-left: 6.5%;
    font-weight: 700;
}

.highlight1{
    color: #EDD4B6;
}

.highlight2{
    color: #EDD4B6;
}

.footer2{
    color: #ffffff;
    font-size: 25px;
    margin-top: 4.5%;
    right: 14.5%;
    text-align: right;
    position: absolute;
}


.here {
    background-color: #172633;
    color: #ffffff;
    padding: 5px 20px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .here:hover {
    background-color:#EDD4B6 ;
    color: #0D151C;
  }

















/* XS */
  @media (min-width: 475px) {}

/* S */
  @media (min-width: 640px) {}

/* M */
  @media (min-width: 768px) {}

/* L */
  @media (min-width: 1024px) {}

/* XL */
  @media (min-width: 1280px) {}

/* XXL */
  @media (min-width: 1536px) {}













/* .quote{
    position: relative;
    color: #ffffff;
    margin-left: 58%;
    margin-top: 25%;
    text-align: center;
}

.quote h1{
    font-size: 40px;
}

.quote h2{
    margin-top: -2%;
} */
















/* @media only screen and (max-width: 600px){
    .main{
        background: url();
    }
} */







/* *{  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #D9D9D9;
    background-image: url(final.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


a{
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
}


a:hover{
    color: rgb(5, 0, 51);
}


.navbar{
    position: fixed;
    top: 10px;
    z-index: 3;
    width: 60%;
}


.links{
    gap: 1rem;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: right;
}


.quote{
    color: #ffff;
    position: absolute;
    width: 317px;
    height: 66.51px;
    left: 853px;
    top: 360px;
    list-style: none;
}

#q1{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
}

#q2{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/* SECTION 1 */

/* #section1{

    background-color: #172633;
    color: #ffff;
} */

















/* RESPONSIVE DESIGN */

/* @media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
}  */