*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
}

/* SECTION BACKGROUND */

.s1{
    height: 100vh;
    width: auto;
    background: #ffffff;
    box-sizing: border-box;
}

.s2{
    height: 100vh;
    background: #172633;
    box-sizing: border-box;
}

.s3{
    height: 100vh;
    background: #172633;
    box-sizing: border-box;
}

.s4{
    height: 100vh;
    background: #0D151C;
    box-sizing: border-box;
}

.s5{
    height: 100vh;
    background: #000000;
    box-sizing: border-box;
}

.container{
    margin-right: auto;
    margin-left: auto;
}

/* S1 CONTENT */

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.123)10%, rgba(0,0,0,0.123)10%), url(images/final.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    width: 1280px;
    height: 90px;
    margin: auto;
    position: fixed;
}


.icon{
    width: 200px;
    float: left;
    height: 70px;
}


.logo{
    font-size: 28px;
    padding-left: 40px;
    float: left;
    padding-top: 20px;
    position: absolute;
}


.logo a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}


.logo a:hover{
    color: #EDD4B6;
}


.menu{
    position: relative;
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
} 


ul li{
   list-style: none;
   margin: 15px;
   margin-top: 20px;
   font-size: 20px; 
}


ul li a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}


ul li a:hover{
    color: #EDD4B6;
}


.quote{
    position: relative;
    width: 317px;
    height: 66.51px;
    left: 1080px;
    top: 360px;
    color: #ffffff;
}


.quote h1{
    font-size: 45px;
}


.quote a{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}


.quote a:hover{
    color: #EDD4B6;
}

/* S2 CONTENT */





















/* @media only screen and (max-width: 600px){
    .main{
        background: url();
    }
} */







/* *{  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #D9D9D9;
    background-image: url(final.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


a{
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
}


a:hover{
    color: rgb(5, 0, 51);
}


.navbar{
    position: fixed;
    top: 10px;
    z-index: 3;
    width: 60%;
}


.links{
    gap: 1rem;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: right;
}


.quote{
    color: #ffff;
    position: absolute;
    width: 317px;
    height: 66.51px;
    left: 853px;
    top: 360px;
    list-style: none;
}

#q1{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
}

#q2{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

/* SECTION 1 */

/* #section1{

    background-color: #172633;
    color: #ffff;
} */

















/* RESPONSIVE DESIGN */

/* @media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
}  */